@use "~@material/image-list";
@import "~@material/image-list/mdc-image-list";

$gutter_size: 2px;

.frame {
    height: 86%;
    width: 100%;
    z-index: 100;
    top: 0;
    margin-top: 10px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;

    .loading-spinner {
        width: 100%;
        height: 3rem;
        mat-spinner{
            margin: 0 auto;            
        }
    }

    .no-data-available{
        text-align: center;
        opacity: 0.5;        
    }
}


.my-image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    grid-auto-flow: dense;
    gap: $gutter_size;
    padding: $gutter_size;

    .mdc-image-list__item {
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(204, 198, 198, 0.5);
        break-inside: avoid;
        margin-bottom: $gutter_size;
        grid-row-end: span 20;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    img[src="assets/preloader.gif"] {
        display: none;
    }

    .mdc-image-list__supporting {
        justify-content: start;
        user-select: none;        
        .mdc-image-list__label {
            padding-right: 1rem;

            mat-icon {
                vertical-align: middle;

                &:hover {
                    cursor: pointer;
                }

                &.selected {
                    color: darkred;
                }
            }
        }
    }
}


@media (min-width: 600px) {
    .my-image-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (min-width: 900px) {
    .my-image-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (min-width: 1200px) {
    .my-image-list {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}