<div class="chart-container">
  <h3 id="title">{{chartTitle}}</h3>
  <div id="container">
    <div >
      <canvas baseChart
        [datasets]="chartdata"
        [labels]="chartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [chartType]="'line'">
      </canvas>
    </div>
    <div class="overlay-background transparent" *ngIf="!loading && chartDataEmpty">
      <h2 class="center nodata">No Data Available</h2>
    </div>  
  </div>  
  <div class="overlay-background" *ngIf="loading">
    <div class="center">
      <mat-spinner>
      </mat-spinner>
    </div>
  </div>
</div>
