:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
}

app-order-book {
    flex: 1;
    overflow: hidden;
    margin-bottom: 1rem;
}

app-order-book:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    :host {
        flex-direction: row;
    }

    app-order-book {
        width: calc(50% - 0.5rem);
        margin-bottom: 0;
    }

    app-order-book:first-child {
        margin-right: 1rem;
    }
}