.search-bar {
    margin: 64px auto auto auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    mat-icon {
        cursor: pointer;
        float: right;
        position: relative;
        color: #4f4f4f;        
        font-size: 32px;
    }

    mat-form-field {
        width: 90%;
        padding-left: 0.5rem;

        @media screen and (min-width: 900px) {
            width: 50%;
            max-width: 700px;
        }
    }

}