<div class="rona-container" [class.rona-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="rona-toolbar">
      <button mat-icon-button (click)="snav.toggle()" *ngIf="true"><mat-icon *ngIf="true">menu</mat-icon></button>
      <mat-icon [matBadge]="$favorites | ngrxPush">bookmark</mat-icon>
      <mat-icon class="logo">construction</mat-icon><h1 class="rona-app-name">Rona Fun</h1>
    </mat-toolbar>
    <mat-sidenav-container class="rona-sidenav-container"
                           >
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" id="sidenav">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/charting']" (click)="snav.close()" ><mat-icon>leaderboard</mat-icon> Charts</a>
          <a mat-list-item [routerLink]="['/meme']" (click)="snav.close()"><mat-icon>image</mat-icon> Image Search</a>
          <a mat-list-item [routerLink]="['/panel']" (click)="snav.close()"><mat-icon>speed</mat-icon> Instruments</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="logout(snav)"><mat-icon>logout</mat-icon> Logout</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>