<div class="rona-container" [class.rona-is-mobile]="mediaQueryMatch$ | ngrxPush">
  <app-navbar-container></app-navbar-container>
  <mat-sidenav-container class="rona-sidenav-container">
    <mat-sidenav #sideNav [mode]="(mediaQueryMatch$ | ngrxPush) ? 'over' : 'over'"
      [fixedInViewport]="mediaQueryMatch$ | ngrxPush" fixedTopGap="56" id="sidenav" [opened]="toggle$ | ngrxPush">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/charting']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon>leaderboard</mat-icon> Charts
        </a>
        <a mat-list-item [routerLink]="['/trading']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon>account_balance</mat-icon> Trading
        </a>
        <a mat-list-item [routerLink]="['/meme']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon>image</mat-icon> Image Search
        </a>
        <a mat-list-item [routerLink]="['/panel']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon>speed</mat-icon> Instruments
        </a>
        <a mat-list-item [routerLink]="['/map']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon>public</mat-icon> Map
        </a>
        <a mat-list-item [routerLink]="['/random']" (click)="toggle()" routerLinkActive="link-active">
          <mat-icon><span class="material-icons">help_outline</span></mat-icon> Random
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [class.mat-drawer-content__remove-scrollbar]="(route$ | ngrxPush) === '/meme'">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
