.rona-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-icon {
    opacity: 0.5;
    margin-right: 0.5em;
           
  }

  

  .rona-toolbar {
    .logo  {       
        color: gold;
        font-size: 2rem;    
        height: auto;
        width: auto;      
        padding-left: 0.5rem;  
    }

    .bookmark{
      margin-left: auto;
      color: darkgrey;
      opacity: 1;          
    }

    

    .rona-is-mobile {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }
  }

  .mat-drawer {
    min-width: 225px;
  }

  .rona-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;

    .rona-is-mobile {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
             `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }
  }
}



h1.rona-app-name {
  margin-left: 8px;
}