.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.bubble {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  opacity: 0.2;
}

.outer {
  background: rgb(200, 200, 200);
  position: fixed;
  opacity: 0.4;
  transition: 4000ms linear;
}
