app-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    position: relative;
    width: 100%;
    flex: 1;
    margin-top: 64px;
}

:host {
    background: url('../../assets/img/road.jpg') center center / cover no-repeat;
    display: flex;
    justify-content: stretch;
    width: 100%;    
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}