.lds-dual-ring {    
    width: 16px;
    height: 16px;        
    display: inline;
    vertical-align: text-top;
  }
  .lds-dual-ring:after {
    content: " ";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;    
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  