<mat-toolbar class="rona-toolbar">
  <button mat-icon-button class="toolbar--btn" onclick="this.blur()" (click)="toggleMenu()"
    [class.secondary-color]="isSecondary()">
    <mat-icon>menu</mat-icon>
  </button>
  <ul class="header-menu" [class.secondary-color]="isSecondary()">
    <li></li>
    <li><a [routerLink]="['/charting']" routerLinkActive="link-active">Charts</a></li>
    <li><a [routerLink]="['/trading']" routerLinkActive="link-active">Trading</a></li>
    <li><a [routerLink]="['/meme']" routerLinkActive="link-active">Image Search</a></li>
    <li><a [routerLink]="['/panel']" routerLinkActive="link-active">Instruments</a></li>
    <li><a (click)="logout.emit()" *ngIf="loggedIn">Logout</a></li>
  </ul>
  <button class="bookmark-btn" mat-flat-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu"
    *ngIf="favorites.length !== 0">
    <mat-icon class="bookmark">favorite</mat-icon>    
  </button>
  <mat-menu #menu="matMenu">
    <div class="bookmark-menu">
      <span>Click to copy to clipboard</span>
      <mat-divider></mat-divider>
      <button mat-menu-item md-fab class="image" *ngFor="let favorite of favorites"
        (click)="copyToClipBoard(favorite?.url)" [style.backgroundImage]="'url('+favorite.images.preview_gif.url+')'">
      </button>
    </div>
  </mat-menu>
</mat-toolbar>