<!-- <button (click)="doDate()">Change Date</button><button (click)="doDateBack()">Change Date Back</button> -->
<div class="data-date-range">
  <mat-form-field>
    <mat-label>Choose a start date</mat-label>
    <input [value]="$startDate | async" #startDate (dateChange)="startDateChanged(startDate.value)" [min]="minDate"
      [max]="maxDate" matInput [matDatepicker]="startPicker" placeholder="Choose a date" readonly
      (click)="startPicker.open()">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker [startAt]="$startDate | async"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a end date</mat-label>
    <input [value]="$endDate | async" #endDate (dateChange)="endDateChanged(endDate.value)" [min]="minDate"
      [max]="maxDate" matInput [matDatepicker]="endPicker" placeholder="Choose a date" readonly
      (click)="endPicker.open()">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker [startAt]="$endDate | async"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>State or National</mat-label>
    <mat-select value="US" (selectionChange)="nationStateValueChanged($event.value)">
      <mat-option *ngFor="let state of states" [value]="state.value">{{ state.title }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="chart-row">
  <app-chart-presentation [chartdata]="$infectionData | async" [chartLabels]="$chartLabels | async"
    [chartTitle]="'Infections'" [lineChartColors]="infectionChartColors" [loading]="$loading | async">
  </app-chart-presentation>
  <app-chart-presentation [chartdata]="$deathData | async" [chartLabels]="$chartLabels | async" [chartTitle]="'Deaths'"
    [lineChartColors]="deathChartColors"  [loading]="$loading | async">
  </app-chart-presentation>
  <app-chart-presentation [chartdata]="$testsData | async" [chartLabels]="$chartLabels | async" [chartTitle]="'Tests'"
    [lineChartColors]="testChartColors"  [loading]="$loading | async">
  </app-chart-presentation>
  <app-chart-presentation [chartdata]="$hospitalData | async" [chartLabels]="$chartLabels | async"
    [chartTitle]="'Hospitalized'" [lineChartColors]="hospitalChartColors"  [loading]="$loading | async">
  </app-chart-presentation>
</div>