<h4>{{isBid ? "Buy" : "Sell"}}</h4>
<table mat-table [dataSource]="orderBook" class="mat-elevation-z8" [class.bid-group]="isBid">
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> $ </th>
        <td mat-cell *matCellDef="let element"> {{element[0] | number:'1.2-5'}} </td>
    </ng-container>
    <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element[1] | number:'1.5-5'}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date/Time </th>
        <td mat-cell *matCellDef="let element"> {{element[2] * 1000 | date:'mediumTime'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>