mat-card, .button-container {
    background-color: darkgray;
    width: 80%;
    margin: 1rem;       
    mat-card-content, .inner-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;             
    }    

    app-gauge, button {
        margin: 1rem;
    }    
}

.rest {
    flex: 1 1 auto;
}


@media screen and (min-width: 800px) {
    mat-card, .button-container {
        mat-card-content, .inner-container {
            flex-direction: row;
        }        
    }

    app-gauge, button {
        margin: 0rem;
    }
    
}